[run]
branch = True
command_line = manage.py test
source = .
omit =
    manage.py
    totalechaos/asgi.py
    totalechaos/wsgi.py
    */tests.py
    */migrations/*.py

[report]
fail_under = 95
show_missing = True

